<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482050813272-hc9en2nhm3cc98nlahmbpn9r20iml5f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482050813272-hc9en2nhm3cc98nlahmbpn9r20iml5f1</string>
	<key>API_KEY</key>
	<string>AIzaSyD91Rqrax-_KZYhhwYafyWFODg025_RDRI</string>
	<key>GCM_SENDER_ID</key>
	<string>482050813272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamX.labX</string>
	<key>PROJECT_ID</key>
	<string>labx-sst</string>
	<key>STORAGE_BUCKET</key>
	<string>labx-sst.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482050813272:ios:15156a00291292f7f7092d</string>
</dict>
</plist>